*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:50px;
    background-color: #0f1924e0;

}
.inputContainer{
    display: flex;
    gap:20px;
}
.submitBtn{
    width:150px;

}
.notesImageStyle{
    width:200px;
    height:250px;
}
@media only screen and (max-width: 515px) {
        .inputContainer{
            flex-direction: column;
        }
        .submitBtn{
            width:100% !important;
        }
        .container{
            padding:20px;
        }

    }
    