.titleInputBox{
    display: flex;
    align-items: center;
    gap:20px;
}
.titleWord{
    font-size:30px;
    text-transform: capitalize;
}
.descriptionBox{
    margin-top:35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.createNotesInput{
    width:81.8vw;
  
    outline: none;
}   
.createInputNotesContainer{
    width:81.8vw;
    height:450px;
    position: relative;
    left:78px;
    border:2px solid rgba(0, 0, 0, 0.169);
    margin-right:30px;
    
}
.NotesSubmitBtn{
    float: right;
    position: relative;
    top:20px;
    width:150px;
    height:50px;
}